<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PauseKey" value="121" />
    <add key="Switch" value="True" />
    <add key="Frequency" value="100" />
    <add key="FristTime" value="True" />
    <add key="Volume" value="0.3" />
    <add key="UseSameKey" value="True" />
    <add key="StartKey" value="120" />
    <add key="StopKey" value="123" />
    <add key="IsActivate" value="False,True" />
    <add key="KeyValue" value="49,50" />
	<add key="Driver" value="1" />
	<add key="KeyMode" value="0" />
  </appSettings>
</configuration>